<div class = "auth">
    <!-- <button type="button" class="btn btn-primary" onclick="window.location.href = 'https://accounts.spotify.com/authorize?client_id=78dfed1239b94705ad0899008dca795c&redirect_uri=http:%2F%2Flocalhost:4200%2Fplaylist-maker&scope=user-top-read&response_type=token';">Authenticate</button> -->
</div>
<div>
  <h1>
    About
  </h1>
  <div class = "content">
    Must login to spotify account to use. 
    <br>
    <button type="button" class="btn btn-primary" onclick="window.location.href = 'https://accounts.spotify.com/authorize?client_id=78dfed1239b94705ad0899008dca795c&redirect_uri=http:%2F%2Flocalhost:4200%2Fplaylist-maker&scope=user-top-read%20playlist-modify-public&response_type=token';">Authenticate</button>
  </div>
  <br>

  <h1>
    How it Works
  </h1>
  <div class = "content">
    SOME TEXT
  </div>
</div>
